<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>266686343625-c29kgur1k3h4v1pb503tc8v8fvulkqfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266686343625-c29kgur1k3h4v1pb503tc8v8fvulkqfp</string>
	<key>API_KEY</key>
	<string>AIzaSyAEWbo_UbsNYlTIvvNMCz-zdP58lxXD7RM</string>
	<key>GCM_SENDER_ID</key>
	<string>266686343625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lowkl.Lowkl</string>
	<key>PROJECT_ID</key>
	<string>lowkl-1314c</string>
	<key>STORAGE_BUCKET</key>
	<string>lowkl-1314c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:266686343625:ios:d7785261fe141d19</string>
	<key>DATABASE_URL</key>
	<string>https://lowkl-1314c.firebaseio.com</string>
</dict>
</plist>